.tasks__item__toggle {
  cursor: pointer;
  flex: 1;
  width: 100%;
  text-align: left;
  padding: 0.85em 2.25em 0.85em 1em;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 128, 0, 0.2);
  
}

.tasks__item {
  display: flex;
  align-self: stretch; 
}

.tasks__item__toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.15);
  
}

.task-title:hover{
  font-weight: bold;
}

.task-description {
  font-size: 12px;;
}

.tasks__item__toggle--completed {
  text-decoration: line-through;
  background-color: #03810326;
  border-color: rgba(0, 128, 0, 0.2);
}


button.tasks__item__remove {
  top: 50%;
  right: 0;
  height: 100%;
  font-size: 100%;
  margin: 0;
  align-self: stretch;
}

/* test */